################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/practica-mad-2-cuatrimestre-mad205/v16
/Model/bin/Debug
/Model/obj/Debug/edmxResourcesToEmbed
/Model/obj/Release
/Test/bin/Debug
/Web/obj/Release
/Web/bin
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/Model/obj/Debug/Model.pdb
/Model/obj/Debug/Model.dll
/Model/obj/Debug/Model.csproj.CoreCompileInputs.cache
/Model/obj/Debug/Model.csproj.CopyComplete
/Model/obj/Debug/Model.csproj.AssemblyReference.cache
/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
/Test/obj/Debug/Test.csproj.CopyComplete
/Test/obj/Debug/Test.csproj.AssemblyReference.cache
/Test/obj/Debug/Test.pdb
/Test/obj/Debug/Test.dll
/Web/obj/Debug/Web.pdb
/Web/obj/Debug/Web.dll
/Web/obj/Debug/Web.csproj.CoreCompileInputs.cache
/Web/obj/Debug/Web.csproj.CopyComplete
/Web/obj/Debug/Web.csproj.AssemblyReference.cache
/.vs
/Model/obj/Debug/TempPE/Model1.Designer.cs.dll
/Model/obj/Debug/TempPE/Model1.cs.dll
/Model/obj/Debug/TempPE/Model1.Context.cs.dll
/Model/obj/Debug/Model.csproj.FileListAbsolute.txt
/Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Model/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Model/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
/Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Test/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
