.user-card {
    /* Establece cualquier estilo básico que desees */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease; /* Transición suave para el efecto de brillo */
}

/* Estilo cuando el ratón pasa por encima */
    .user-card:hover {
        box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5); /* Efecto de brillo */
        cursor: pointer;
    }
